# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Example/Pods/jot/LICENSE
Example/Pods/jot/README.md
Example/Pods/jot/jot/jot.h
Example/Pods/jot/jot/JotDrawingContainer.h
Example/Pods/jot/jot/JotDrawingContainer.m
Example/Pods/jot/jot/JotDrawView.h
Example/Pods/jot/jot/JotDrawView.m
Example/Pods/jot/jot/JotTextEditView.h
Example/Pods/jot/jot/JotTextEditView.m
Example/Pods/jot/jot/JotTextView.h
Example/Pods/jot/jot/JotTextView.m
Example/Pods/jot/jot/JotTouchBezier.h
Example/Pods/jot/jot/JotTouchBezier.m
Example/Pods/jot/jot/JotTouchPoint.h
Example/Pods/jot/jot/JotTouchPoint.m
Example/Pods/jot/jot/JotViewController.h
Example/Pods/jot/jot/JotViewController.m
Example/Pods/jot/jot/UIImage+Jot.h
Example/Pods/jot/jot/UIImage+Jot.m
Example/Pods/Masonry/LICENSE
Example/Pods/Masonry/README.md
Example/Pods/Masonry/Masonry/MASCompositeConstraint.h
Example/Pods/Masonry/Masonry/MASCompositeConstraint.m
Example/Pods/Masonry/Masonry/MASConstraint+Private.h
Example/Pods/Masonry/Masonry/MASConstraint.h
Example/Pods/Masonry/Masonry/MASConstraint.m
Example/Pods/Masonry/Masonry/MASConstraintMaker.h
Example/Pods/Masonry/Masonry/MASConstraintMaker.m
Example/Pods/Masonry/Masonry/MASLayoutConstraint.h
Example/Pods/Masonry/Masonry/MASLayoutConstraint.m
Example/Pods/Masonry/Masonry/Masonry.h
Example/Pods/Masonry/Masonry/MASUtilities.h
Example/Pods/Masonry/Masonry/MASViewAttribute.h
Example/Pods/Masonry/Masonry/MASViewAttribute.m
Example/Pods/Masonry/Masonry/MASViewConstraint.h
Example/Pods/Masonry/Masonry/MASViewConstraint.m
Example/Pods/Masonry/Masonry/NSArray+MASAdditions.h
Example/Pods/Masonry/Masonry/NSArray+MASAdditions.m
Example/Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Example/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Example/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Example/Pods/Masonry/Masonry/View+MASAdditions.h
Example/Pods/Masonry/Masonry/View+MASAdditions.m
Example/Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Example/Pods/Masonry/Masonry/ViewController+MASAdditions.h
Example/Pods/Masonry/Masonry/ViewController+MASAdditions.m
Example/Pods/Target Support Files/jot/Info.plist
Example/Pods/Target Support Files/jot/jot-dummy.m
Example/Pods/Target Support Files/jot/jot-prefix.pch
Example/Pods/Target Support Files/jot/jot-umbrella.h
Example/Pods/Target Support Files/jot/jot.modulemap
Example/Pods/Target Support Files/jot/jot.xcconfig
Example/Pods/Target Support Files/Masonry/Info.plist
Example/Pods/Target Support Files/Masonry/Masonry-dummy.m
Example/Pods/Target Support Files/Masonry/Masonry-prefix.pch
Example/Pods/Target Support Files/Masonry/Masonry-umbrella.h
Example/Pods/Target Support Files/Masonry/Masonry.modulemap
Example/Pods/Target Support Files/Masonry/Masonry.xcconfig
Example/Pods/jot/jot/UIImage+Jot.h
Example/Pods/jot/jot/UIImage+Jot.m
Example/Pods/Masonry/Masonry/MASConstraint+Private.h
Example/Pods/Masonry/Masonry/NSArray+MASAdditions.h
Example/Pods/Masonry/Masonry/NSArray+MASAdditions.m
Example/Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Example/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Example/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Example/Pods/Masonry/Masonry/View+MASAdditions.h
Example/Pods/Masonry/Masonry/View+MASAdditions.m
Example/Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Example/Pods/Masonry/Masonry/ViewController+MASAdditions.h
Example/Pods/Masonry/Masonry/ViewController+MASAdditions.m
